<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>882D60671A7F05E1001C5181</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>882D60721A7F05E1001C5181</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>889865B21AAFD89B009C19D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
